<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #detailsForm="ngForm" (ngSubmit)="editClient()">
    <ion-list>
      <ion-item>
        <ion-label slot="fixed">FIRST NAME</ion-label>
        <ion-input [(ngModel)]="client.firstName" required placeholder="First Name" type="text"
                   name="firstName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label slot="fixed">LAST NAME</ion-label>
        <ion-input [(ngModel)]="client.lastName" required placeholder="Last Name" type="text"
                   name="lastName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label slot="fixed">PHONE NUMBER</ion-label>
        <ion-input [(ngModel)]="account.phoneNumber" required placeholder="Phone Number" type="text"
                   name="phoneNumber"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label slot="fixed">CITY</ion-label>
        <ion-input [(ngModel)]="client.address.city" required placeholder="City" type="text" name="city"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label slot="fixed">STREET NAME</ion-label>
        <ion-input [(ngModel)]="client.address.streetName" required placeholder="Street Name" type="text"
                   name="streetName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label slot="fixed">STREET NUMBER</ion-label>
        <ion-input [(ngModel)]="client.address.streetNumber" required placeholder="Street Number" type="text"
                   name="streetNumber"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label slot="fixed">BUILDING</ion-label>
        <ion-input [(ngModel)]="client.address.building" [required]="false" placeholder="Building (optional)"
                   type="text" name="building"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label slot="fixed">STAIRCASE</ion-label>
        <ion-input [(ngModel)]="client.address.staircase" [required]="false" placeholder="Staircase (optional)"
                   type="text" name="staircase"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label slot="fixed">FLOOR</ion-label>
        <ion-input [(ngModel)]="client.address.floor" [required]="false" placeholder="Floor (optional)" type="text"
                   name="floor"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label slot="fixed">FLAT</ion-label>
        <ion-input [(ngModel)]="client.address.flat" [required]="false" placeholder="Flat (optional)" type="text"
                   name="flat"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label slot="fixed">ZIPCODE</ion-label>
        <ion-input [(ngModel)]="client.address.zipCode" [required]="false" placeholder="Zipcode (optional)" type="text"
                   name="zipcode"></ion-input>
      </ion-item>

      <div class="ion-padding-top">
        <ion-button
          [disabled]="!detailsForm.valid"
          expand="block"
          color="primary"
          type="submit">CONFIRM
        </ion-button>
      </div>

    </ion-list>
  </form>
</ion-content>
